body{
height:350px;
font-size:0.9em;
font-family:"Trebuchet MS",sans-serif;
background:#D2B48C;
  margin-left:10%;
  margin-right:10%;
}

h1{
	text-align:center;
}
.tableEntete th{
	background-color:lightblue;
	
}
.msgErreur{
	color:red;
}

/*menu*/

#menu, #menu ul /* Liste */     
{
        padding : 0;
        margin : 0; 
        list-style : none;
        line-height : 30px; 
        text-align : center; 
}

#menu /* Ensemble du menu */
{
        font-weight : bold; 
        font-family : Arial; 
        font-size : 18px;
}

#menu a 
{
        display : block; 
        padding : 0; 
        background : lightblue;  
	filter : alpha(opacity=90);
	opacity : 0.9;
	border:2px solid grey;
	border-radius:6px;
        color : #000; 
        text-decoration : none; 
        width : 200px; 
	/*TRANSITION DE COULEURS*/
      -moz-transition:background-color 1000ms ease-out; //transition mozilla
      -o-transition:background-color 1000ms ease-out; //transition opera
      transition:background-color 1000ms ease-out; //syntaxe d'avenir
      -webkit-transition:background-color 1000ms ease-out; //transition webkit
      
      -moz-transition:color 1000ms ease-out; //transition mozilla
      -o-transition:color 1000ms ease-out; //transition opera
      transition:color 1000ms ease-out; //syntaxe d'avenir
      -webkit-transition:color 1000ms ease-out; //transition webkit
      
}
#menu a.selected{
  background-color: white;
}
#menu a:hover{
  background-color: white;
  
}
#menu li    
{ 
        float : left; 
	
        border-right : 2px solid #000; 
}

html>body #menu li
{
        border-right: 2px solid transparent ; 
}

#menu li ul 
{ 
        position: absolute; 
        width: 200px; 
        left: -999em; 
}


#menu li ul li 
{
        border-top : 1px solid #000; 
}
html>body #menu li ul li                
{
        border-top : 1px solid transparent; 
}

#menu li ul ul 
{
        margin    : -22px 0 0 200px ; 
        border-left     : 2px solid #000 ; 
}
#menu a.selected{
  background-color: white;
  color:black;
}
#content{
	clear:left;
	margin-top:80px;
	padding:20px;
	background-color:white;
	border-radius:6px;

}
